.superhero-card {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    row-gap: 5rem;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 80px;
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    margin-bottom: 5rem;
}

.heroImg {
    height: 800px;
    margin-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
}

h2 {
    font-weight: 800;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: hsla(0, 81%, 48%, 0.959);
}

h3 {
    font-weight: 600;
    font-size: 35px;
    color: hsla(0, 81%, 65%, 0.959);
}

.stat-list {
    list-style: none;
    font-size: 20px;

}

.bio {
    font-size: 20px;
}